@model Model.SysUser
@using Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="weadmin-body">
    <form class="layui-form user-form">
        @Html.HiddenFor(model => Model.ID)
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="we-red"></span>登录名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="UserName" readonly name="UserName" required="" lay-verify="UserName"
                       autocomplete="off" value="@Model.UserName" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_email" class="layui-form-label">
                <span class="we-red"></span>邮箱
            </label>
            <div class="layui-input-inline">
                <input type="text" value="@Model.Email" id="Email" readonly name="Email" required=""
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="we-red"></span>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_pass" class="layui-form-label">
                <span class="we-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="Password" name="Password" lay-verify="Password"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
                <span class="we-red">*</span>确认密码
            </label>
            <div class="layui-input-inline">
                <input type="password" id="RePassword" name="RePassword" lay-verify="RePassword"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label">
            </label>
            <button class="layui-btn" lay-filter="editpwd" lay-submit="">
                确认修改
            </button>
        </div>
    </form>
</div>
<script src="@HtmlHelperExtend.GetCssJsUrl(Url.Content("~/User/edit/js"))" type="text/javascript" charset="utf-8"></script>